/* ESERCIZIO 1 */
.ex-1-square:hover{
    background-color: red;
}

.ex-1-square{
    transition: 3s;
}

/* FINE ESERCIZIO 1 */

/* ESERCIZIO 2 */
.ex-2-square:active{
    width: 100%;;
}

.ex-2-square{
    transition: 3s;
}

/* FINE ESERCIZIO 2 */

/* ESERCIZIO 3 */
.ex-3-square:hover{
    border-radius: 50%;
}

.ex-3-square{
    transition: 0.5s;
}

/*FINE ESERCIZIO 3 */

/* ESERCIZIO 4 */
.ex-4-square:hover{
    opacity: 0%;
}

.ex-4-square{
    transition: 1s;
}
/* FINE ESERCIZIO 4 */

/* ESERCIZIO 5 */
.ex-5-square:hover{
   transform: scale(2);
}
.ex-5-square:active{
    transform: scale(0.5);
 }
.ex-5-square{
    transition: 1s;
}
/* FINE ESERCIZIO 5 */

/* ESERCIZIO 6 */
.ex-6-img:hover{
    filter: grayscale(100%)
}
/* FINE ESERCIZIO 6 */

/* ESERCIZIO 7 */
