/* ESERCIZIO 1 */
.ex-1-square:hover{
    background-color: red;
}

.ex-1-square{
    transition: 3s;
}

/* FINE ESERCIZIO 1 */

/* ESERCIZIO 2 */
.ex-2-square:active{
    width: 100%;;
}

.ex-2-square{
    transition: 3s;
}

/* FINE ESERCIZIO 2 */

/* ESERCIZIO 3 */
.ex-3-square:hover{
    border-radius: 50%;
}

.ex-3-square{
    transition: 0.5s;
}

/*FINE ESERCIZIO 3 */

/* ESERCIZIO 4 */
.ex-4-square:hover{
    opacity: 0%;
}

.ex-4-square{
    transition: 1s;
}
/* FINE ESERCIZIO 4 */

/* ESERCIZIO 5 */
.ex-5-square:hover{
   transform: scale(2);
}
.ex-5-square:active{
    transform: scale(0.5);
 }
.ex-5-square{
    transition: 1s;
}
/* FINE ESERCIZIO 5 */

/* ESERCIZIO 6 */
.ex-6-img:hover{
    filter: grayscale(100%)
}
/* FINE ESERCIZIO 6 */

/* ESERCIZIO 7 */
.ex-7-img:hover{
    filter: grayscale(70%) sepia(60%);
}
.ex-7-img{
    transition: 2s;
 }
 /* FINE ESERCIZIO 7 */

 /* ESERCIZIO 8 */
.ex-8-img:hover{
    filter: grayscale(70%) sepia(60%);
    border-radius:20px;
}
.ex-8-img{
    transition: 2s;
 }
 /* FINE ESERCIZIO 8 */

/* ESERCIZIO 9 */
.ex-9-img:hover{
    filter: grayscale(70%) sepia(60%);
    border-radius:20px;
    transform: scale(1.5);
}
.ex-9-img{
    transition: 2s; 
 }
 /* FINE ESERCIZIO 9 */

 /* ESERCIZIO 10 */
 .ex-10-icon{
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
 }

 @keyframes rotation{
     0% { transform: rotate(360deg); } 
 }
/* FINE ESERCIZIO 10 */
 /* ESERCIZIO 11 */
 .ex-11-icon:hover{
    animation: spin 2s linear;
 }

 @keyframes spin{
     0% { transform: rotate(360deg); } 
     85% { transform: rotate(315deg); } 
     100% { transform: rotate(0deg); }
 }
/* FINE ESERCIZIO 11 */

/* ESERCIZIO 12 */
.ex-12-button:hover .ex-12-top-white {
    animation-name: slide-left;
    animation-duration: 4s;
    animation-timing-function: linear;
}

@keyframes slide-left{
    0% { left: 0% } 
    50% {  left: calc(100% - 60px) } 
    100% { left: 0% }
}